<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/js/lorejs/lorejs-extensions.js"></script>
        <script src="~/js/lorejs/lorejs.js"></script>
        <script src="~/js/lorejs/lorejs-odata.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/lorejs/lorejs-extensions.min.js"></script>
        <script src="~/js/lorejs/lorejs.min.js"></script>
        <script src="~/js/lorejs/lorejs-odata.min.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
