<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/js/lorejs/00.extensions.js"></script>
        <script src="~/js/lorejs/00.lorejs.js"></script>
        <script src="~/js/lorejs/10.lorejs.odata.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/lorejs/00.extensions.min.js"></script>
        <script src="~/js/lorejs/00.lorejs.min.js"></script>
        <script src="~/js/lorejs/10.lorejs.odata.min.js"></script>
    </environment>
</body>
</html>
